<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 类型管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__STATIC__/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('Goodstype/goodstype_add')}">新建商品类型</a></span>
<span class="action-span1"><a href="{:url('Index/index')}">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品类型 </span>
<div style="clear:both"></div>
</h1>

<form method="post" action="" name="listForm">
<!-- start goods type list -->
<div class="list-div" id="listDiv">

	<table width="100%" cellpadding="3" cellspacing="1" id="listTable">
		<tbody>
			<tr>
				<th>商品类型名称</th>
				<th>属性数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
      {volist name="goodstype" id="vo"}
			<tr>
				<td>{$vo.type_name}</td>
				<td align="right">{$vo.attr_count}</td>
				<td align="center">
          {if condition="$vo['is_enabled'] eq 1"}
        <img src="__STATIC__/admin/images/yes.gif">  
          {elseif condition="$vo['is_enabled'] eq 0"}  
         <img src="__STATIC__/admin/images/no.gif"> 
         {/if} 
        </td>
				<td align="center">
				  <a href="{:url('Attribute/attribute_list',['type_id'=>$vo['type_id']])}" title="属性列表">属性列表</a> |
				  <a href="{:url('Goodstype/goodstype_edit',['type_id'=>$vo['type_id']])}" title="编辑">编辑</a> |
				  <a href="{:url('Goodstype/goodstype_del',['type_id'=>$vo['type_id']])}"title="移除">移除</a>
				</td>
			</tr>
      {/volist}
      
  </tbody></table>

</div>
<!-- end goods type list -->
</form>

<div id="footer">
</div>

</body>
</html>