<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__STATIC__/index/css/style.css" />
    <!--[if IE 6]>
    <script src="__STATIC__/index/js/iepng.js" type="text/javascript"></script>
        <script type="text/javascript">
           EvPNG.fix('div, ul, img, li, input, a'); 
        </script>
    <![endif]-->    
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.1.min_044d0927.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js/jquery.bxslider_e88acd1b.js"></script>
    
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/menu.js"></script>    
            
	<script type="text/javascript" src="__STATIC__/index/js/lrscroll_1.js"></script>
    
    
	<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>    
    <script type="text/javascript" src="__STATIC__/index/js/milk_ban.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/paper_ban.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/baby_ban.js"></script>
    
<title>尤洪</title>
</head>
<body>  
<!--Begin Header Begin-->
<div class="soubg">
    <div class="sou">
        <!--Begin 所在收货地区 Begin-->
           {include file="public/city"}
        <!--End 所在收货地区 End-->
            {include file="public/nav"}
    </div>
</div>


<div class="top">
    <div class="logo"><a href="Index.html"><img src="__STATIC__/index/images/logo.png" /></a></div>
    <div class="search">
    	<form>
        	<input type="text" value="" class="s_ipt" />
            <input type="submit" value="搜索" class="s_btn" />
        </form>                      
        <span class="fl"><a href="#">咖啡</a><a href="#">iphone 6S</a><a href="#">新鲜美食</a><a href="#">蛋糕</a><a href="#">日用品</a><a href="#">连衣裙</a></span>
    </div>
    {include file="public/buycar"}
</div>
<!--End Header End--> 
<!--Begin Menu Begin-->
<div class="menu_bg">
    <div class="menu">
        <!--Begin 商品分类详情 Begin-->    
           {include file="public/menu_l"}
        <!--End 商品分类详情 End-->
        {include file="public/menu_r"}
        <div class="m_ad">中秋送好礼！</div>
    </div>
</div>
<!--End Menu End--> 
<div class="i_bg">
	<div class="postion">
    	<span class="fl">全部 > 美妆个护 > 香水 > 香奈儿</span>
    </div>    
    <div class="content mar_20">
    	<!-- 浏览历史 -->
        {include file="public/history"}
        <!-- End -->
        <div class="l_list">
			<div class="brand_t">所有品牌</div>
            <div class="list_c">            	
                <ul class="brand">
                	<li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span><a href="{:url('Brand/brand_list')}">普拉达</a></span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span><a href="{:url('Brand/brand_list')}">劳力士</a></span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><a href="{:url('Brand/brand_list')}"><span>古奇</span></a>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand1.jpg" width="226" height="108" /></div>
                        <div class="name"><span>普拉达</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand2.jpg" width="226" height="108" /></div>
                        <div class="name"><span>劳力士</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand3.jpg" width="226" height="108" /></div>
                        <div class="name"><span>古奇</span>（20）</div>
                    </li>
                    <li>
                    	<div class="img"><img src="__STATIC__/index/images/brand4.jpg" width="226" height="108" /></div>
                        <div class="name"><span>迪奥</span>（20）</div>
                    </li>
                </ul>
                
                <div class="pages">
                	<a href="#" class="p_pre">上一页</a><a href="#" class="cur">1</a><a href="#">2</a><a href="#">3</a>...<a href="#">20</a><a href="#" class="p_pre">下一页</a>
                </div>
                
                
                
            </div>
        </div>
    </div>
    
    <!--Begin Footer Begin -->
    {include file="public/footer"}
    <!--End Footer End -->    
</div>

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
