<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP 管理中心 - 品牌管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__STATIC__/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/admin/styles/main.css" rel="stylesheet" type="text/css" />
<style type="text/css">
  .page{
    padding-top: 20px;
  }
  .page li{
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    float: left;
    margin-left: 15px;
    cursor: pointer;
  }
</style>
</head>
<body>

<h1>
<span class="action-span"><a href="{:url('Brand/brand_add')}">添加品牌</a></span>
<span class="action-span1"><a href="{:url('Index/index')}">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品品牌 </span>
<div style="clear:both"></div>
</h1>

<div class="form-div">
  <form action="javascript:search_brand()" name="searchForm">
    <img src="__STATIC__/admin/images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
     <input type="text" name="brand_name" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>

<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">

  <table cellpadding="3" cellspacing="1">
    <tbody>
		<tr>
			<th>品牌名称</th>
			<th>品牌网址</th>
			<th>品牌描述</th>
			<th>品牌logo</th>
			<th>是否显示</th>
			<th>操作</th>
		</tr>
    {volist name="brand" id="vo"}
    <tr>
			<td align="center" class="first-cell">{$vo.brand_name}</td>
			<td align="center"><a href="{:$vo.site_url}" target="_brank">{:$vo.site_url}</a></td>
			<td align="left" >{:$vo.brand_desc}</td>
			<td align="center"><img src="__ROOT__/uploads/{:$vo.brand_logo}" width="60" height="40"></td>
			<td align="center">
        {if condition="$vo['is_show'] eq 1"}
        <img src="__STATIC__/admin/images/yes.gif"></td>
        {elseif condition="$vo['is_show'] eq 0"}
        <img src="__STATIC__/admin/images/no.gif"></td>
        {/if}
			<td align="center">
				<a href="{:url('Brand/brand_edit',['brand_id'=>$vo['brand_id']])}}" title="编辑">编辑</a> |
				<a href="{:url('Brand/brand_del',['brand_id'=>$vo['brand_id']])}" title="移除">移除</a> 
			</td>
		</tr>
    {/volist}
      
  </tbody></table>

  <div class="page">
    {$brand->render()}
  </div>
<!-- end brand list -->
</div>
</form>
</body>
</html>