<div class="nav">
        	<div class="nav_t">全部商品分类</div>
            <div class="leftNav">
                <ul>      
                    <li>
                    	<div class="fj">
                        	<span class="n_img"><span></span><img src="__STATIC__/index/images/nav1.png" /></span>
                            <span class="fl">进口食品、生鲜</span>
                        </div>
                        <div class="zj">
                            <div class="zj_l">
                                <div class="zj_l_c">
                                    <h2>零食 / 糖果 / 巧克力</h2>
                                    <a href="{:url('Brand/brand')}">坚果</a>|
                                    <a href="{:url('Brand/brand')}">蜜饯</a>|
                                    <a href="{:url('Brand/brand')}">红枣</a>|
                                    <a href="{:url('Brand/brand')}">牛肉干</a>|
                                    <a href="{:url('Brand/brand')}">巧克力</a>|
                                    <a href="{:url('Brand/brand')}">口香糖</a>|
                                    <a href="{:url('Brand/brand')}">海苔</a>|
                                    <a href="{:url('Brand/brand')}">鱼干</a>|
                                    <a href="{:url('Brand/brand')}">蜜饯</a>|
                                    <a href="{:url('Brand/brand')}">红枣</a>|
                                    <a href="{:url('Brand/brand')}">蜜饯</a>|
                                    <a href="{:url('Brand/brand')}">红枣</a>|
                                    <a href="{:url('Brand/brand')}">牛肉干</a>|
                                    <a href="{:url('Brand/brand')}">蜜饯</a>|
                                </div>
                            </div>
                            <div class="zj_r">
                                <a href="#"><img src="__STATIC__/index/images/n_img1.jpg" width="236" height="200" /></a>
                                <a href="#"><img src="__STATIC__/index/images/n_img2.jpg" width="236" height="200" /></a>
                            </div>
                        </div>
                    </li>                               	
                </ul>            
            </div>
        </div>  