
<!-- $Id: role_info.htm 14216 2010-01-08 02:27:21Z liuhui $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加角色 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__STATIC__/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/admin/styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/admin/js/jquery-1.8.2.min.js"></script>
<!-- <script type="text/javascript" src="__STATIC__/admin/js/transport.js"></script><script type="text/javascript" src="__STATIC__/admin/js/common.js"></script> -->
<style>

  .panel-icloud .panel-right iframe {
    height: 300px;
    margin-top: 15px;
  }
  .panel-hint{
    top: 3%;
  }
</style>
<script language="JavaScript">

</script>
</head>
<body>
<h1>
  <span class="action-span"><a href="{:url('Privilege/role_list')}">角色列表</a></span>

<span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> &nbsp;&nbsp;&nbsp;&nbsp; 添加角色 </span>
<div style="clear:both"></div>
</h1><form method="POST" action="" name="theFrom">
<div class="list-div">
<table width="100%">
  <tr >
    <td class="label"><strong><h2>角色:</h2></strong></td>
    <td>
      <span class="require-field" ><strong><h2>{$role.role_name}</h2></strong></span></td>
  </tr>
  </table>
<table cellspacing='1' id="list-table">
{volist name="node" id="vo"}
 <tr>
  <td width="18%" valign="top" class="first-cell">
    <input name="node_id[]" type="checkbox" value="{$vo.node_id}" class="parent" value="{$vo.node_id}" {if condition="$vo.checked eq 1"}checked{/if}>{$vo.node_name}</td>
   <td> 
    {volist name="$vo.son" id="k"}
    <div style="width:200px;float:left;"> 
      <label for="goods_manage"><input type="checkbox" name="node_id[]" id="goods_manage" class="a" value="{$k.node_id}" {if condition="$vo.checked eq 1"}checked{/if}  />{$k.node_name}</label>
    </div> 
    {/volist}
 </tr>
 {/volist}
  <tr>
    <td align="center" colspan="2" >
      <input type="hidden" name="role_id" value="{$role.role_id}" />
      <input type="submit"   value=" 保存 " class="button" />&nbsp;&nbsp;&nbsp;
      <input type="reset" value=" 重置 " class="button" />

    </td>
  </tr>
</table>
</div>
</form>
<script>
  $(function(){
    $(".parent").click(function(){
      // alert(1)
      $(this).parent().next().find(".a").prop("checked",$(this).prop("checked"));
        // .next().find(".son").prop("checked",$(this).prop("checked"));
    })

    $(".a").click(function(){              
        if($(this).prop("checked")){
            $(this).parents('tr').find(".parent").prop("checked",true);
        }else{
            var flag = false;
            $(this).siblings().each(function(){
                if($(this).prop("checked")){
                    flag = true;
                    return
                }
            })
            if(flag == false){
                $(this).parents('tr').find(".parent").prop("checked",false);
            }
        }
    })
})
</script>

</body>
</html>